.mycameras-wrapper {
  display: flex;
  height: calc(100vh - 70px); /* Minus Header height */
  width: 100%;
  position: relative;
}

/* MAP AREA */
.map-area {
  flex: 1;
  background: #f2f6fa;
}

/* RIGHT PANEL */
.camera-list-panel {
  width: 310px;
  background: white;
  border-left: 1px solid #e5e7eb;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.cl-header h3 {
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.cl-search {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccd5e1;
  border-radius: 6px;
}

.camera-items {
  margin-top: 15px;
  overflow-y: auto;
  flex: 1;
}

.camera-item {
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;
}

.camera-thumb {
  width: 100px;
  height: 65px;
  object-fit: cover;
  border-radius: 6px;
}

.camera-info {
  flex: 1;
  margin-left: 10px;
}

.cam-title {
  font-size: 14px;
  font-weight: 600;
}

.cam-desc {
  font-size: 12px;
  color: #6b7280;
}
